---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Email Subscribed Card">
  <main>
    <!-- Background Container -->
    <div class="flex items-start justify-center h-screen bg-zinc-700 py-10">
      <nav>
        <ul class="flex flex-col items-center gap-4">
          <li>
            <a href="/email-card" class="text-white text-s"
              >Email Subscribed Card</a
            >
          </li>
          <li>
            <a href="/pricing-cards" class="text-white text-s">Pricing Cards</a>
          </li>
          <li>
            <a href="/product-modal" class="text-white text-s">Product Modal</a>
          </li>
          <li>
            <a href="/image-gallery" class="text-white text-s">Image Gallery</a>
          </li>
          <li><a href="" class="text-white text-s"></a></li>
          <li><a href="" class="text-white text-s"></a></li>
        </ul>
      </nav>
    </div>
  </main>
</Layout>
